// Header Section

// Navbar section
.mainNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  // background-color: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(1rem);
  height: 3.5rem;
  transition: all 0.3s ease-out;
  .nav-Links {
    display: inherit;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }
}

/* Welcome Section */
.hero {
  height: 80vh;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(
      120deg,
      #f34208a2,
      #000000,
      #000000,
      #00ffff92
    );
    opacity: 0.5;
    transform: translate(0%, 0%);
  }
  .hero-content {
    transform: translate(25%, -50%);
    position: absolute;
    top: 50%;
    backdrop-filter: blur(5rem);
    color: #ffff;
    margin: auto;
    width: 40%;
    border: none;
    padding: 1rem;
    z-index: 2;
  }
}
.welcome-note p {
  color: antiquewhite;
  // font-family: "Segoe UI", Tahoma, Geneva, Verdana,
  //   sans-serif;
  font-size: 1.2rem;
}

// Fetured Section
.featured-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .featured-header {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .featured-cards {
    width: 100%;
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

// About Section
.about-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5rem 0 5rem 0;
  .about-sec {
    width: 80%;
    display: flex;
    .image-sec {
      img {
        width: 20rem;
        border-radius: 2rem;
        height: 100%;
      }
      .abt-img1 {
        padding: 1rem;
        margin-left: -5rem;
      }
      .abt-img2 {
        margin-top: -28rem;
      }
    }
    .content {
      margin-top: 4rem;
      margin-left: 5rem;
      line-height: 1.5rem;
      p {
        margin-top: 1.5rem;
      }
    }
  }
}

// Services Section
.service-section {
  width: 100%;
  height: 70vh;
  margin-top: 15rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .service-cards {
    display: flex;
  }
}

// Partners and Technologies Section
.patners-sec-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: center;
  .partners-sec-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .partners-list {
    width: 80%;
    .tools {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      img {
        width: 10%;
      }
    }
  }
}

// Footer Section
footer {
  margin-top: 10rem;
  .newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    p {
      width: 50%;
      font-size: 0.9rem;
      margin-top: 0.5rem;
    }
    input {
      width: 30rem;
      border-radius: 10rem;
      height: 2.5rem;
      background-color: #a6a6a6;
      margin-right: 1rem;
    }
  }
  .footer-middle {
    margin-bottom: 5rem;
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    .end-message {
      margin-left: 1rem;
    }
  }
}
