* {
  margin: 0;
  padding: 0;
}

.topbar {
  font-size: 0.8rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5rem;
  background-color: #000;
  font-family: Inter, sans-serif;
}

/* .nav-button h5 {
  color: antiquewhite;
} */
@font-face {
  font-family: "Astro";
  src: local("Astro"), url(../fonts/astro.ttf) format("truetype");
}

/* Navbar Hola Button */
.nav-hola {
  background-image: -webkit-gradient(linear, left top, right top, from(#4cb8c4), color-stop(51%, #3cd3ad), to(#4cb8c4));
  background-image: linear-gradient(to right, #4cb8c4 0%, #3cd3ad 51%, #4cb8c4 100%);
  padding: 0.6rem 1.2rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

.nav-hola:hover {
  background-image: linear-gradient(45deg, #f3ec78, #f34208);
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  border: none;
}

/* Navbar links */
.nav-button {
  font-size: 0.9rem;
  padding: 1rem;
  text-decoration: none !important;
  color: whitesmoke;
  font-weight: 650;
  font-size: 1rem;
  margin-right: 1rem;
  background-image: linear-gradient(45deg, #f3ec78, #f34208);
  background-clip: text;
  background-repeat: repeat;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.nav-button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#4cb8c4), color-stop(51%, #3cd3ad), to(#4cb8c4));
  background-image: linear-gradient(to right, #4cb8c4 0%, #3cd3ad 51%, #4cb8c4 100%);
}

/* Nav Logo */
.nav-logo {
  /* Fallback: Set a background color. */
  background-color: #4cb8c4;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #f3ec78, #f34208);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-decoration: none;
  font-family: astro;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-logo:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#4cb8c4), color-stop(51%, #3cd3ad), to(#4cb8c4));
  background-image: linear-gradient(to right, #4cb8c4 0%, #3cd3ad 51%, #4cb8c4 100%);
}

.light-text-box {
  color: #ffffff;
}

.dark-text-box {
  text-align: center;
  width: auto;
  background-color: #0f0f11;
  padding: 0;
  margin: 0;
}

.dark-text-box p {
  background-image: linear-gradient(60deg, #f34208, #ffb03a);
  background-clip: text;
  color: transparent;
  line-height: 1.2rem;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  padding: 0.3rem;
  margin-bottom: 0;
}

.featured-card {
  width: 22rem;
  height: auto;
  margin: 3rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  background-color: #060606;
}

.featured-card:hover {
  -webkit-transform: translate(0.5px, -1%);
          transform: translate(0.5px, -1%);
  -webkit-box-shadow: 0px 0px 30px 0px #00ffff92;
          box-shadow: 0px 0px 30px 0px #00ffff92;
  border-radius: 2rem;
}

.featured-card img {
  width: 60%;
}

.featured-card h6 {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
}

.featured-card h6:hover {
  color: #4cb8c4;
  cursor: pointer;
}

.featured-card p {
  text-align: center;
  margin-top: 1.5rem;
  padding: 0 1.4rem;
  color: #969696;
}

.footerLinks .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
}

.usefulLinks,
.address,
.otherLinks {
  list-style: none;
}

.usefulLinks h5,
.address h5,
.otherLinks h5 {
  font-weight: 600;
  background-image: linear-gradient(60deg, #f34208, #ffb03a);
  background-clip: text;
  color: transparent;
}

.usefulLinks li,
.address li,
.otherLinks li {
  margin-bottom: 0.8rem;
}

.usefulLinks h4,
.address h4,
.otherLinks h4 {
  font-size: 0.8rem;
  padding-left: 1rem;
  padding-top: 0.4rem;
  text-decoration: none;
  color: #ffffff;
}

.usefulLinks h4:hover,
.address h4:hover,
.otherLinks h4:hover {
  background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#4cb8c4), color-stop(51%, #3cd3ad), to(#4cb8c4));
  background-image: linear-gradient(to right, #4cb8c4 0%, #3cd3ad 51%, #4cb8c4 100%);
}
