@font-face {
  font-family: "Astro";
  src: local("Astro"), url(../fonts/astro.ttf) format("truetype");
}
* {
  color: aliceblue;
  padding: 0;
  margin: 0;
}
/* Header Section */
.main-nav {
  display: flex;
  align-items: center;
  margin-right: 10rem;
  justify-content: space-evenly;
  width: 100%;
}

/* Hero Section */
.hero {
  background-image: url(../../../public/images/bg-1.jpg);
  background-size: cover;
  background-position: 0rem;
  height: 80vh;
}
.hero-content {
  width: 50%;
  padding: 10rem 0 0 6rem;
}

/* Featured Section */
.featured-section {
  height: 60vh;
  text-align: center;
}

.featured-cards {
  display: flex;
  justify-content: center;
}

.featured-card {
  background-color: white;
  width: 18rem;
  margin: 0 3rem;
}

/* About Section */
.about-section {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Services Section */
.service-section {
  display: block;
  height: 70vh;
}
.service-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-cards {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

/* Footer Section */
.footer-top {
  /* height: 30vh; */
  display: flex;
  justify-content: center;
}
.footer-top .column2 {
  display: flex;
  float: inline-end;
  justify-content: flex-end;
}
.footer-middle {
  border-top: whitesmoke 2px solid;
  height: 30vh;
}
.footer-bottom {
  width: 100%;
  border-top: whitesmoke 2px solid;
  display: flex;
  justify-content: space-between;
}
